.ant-alert{
    padding: 8px 0;
}
.ant-alert span{
    color: #000 !important;
}
.ant-upload-list{
    margin-left: 20px;
}

.ant-upload-wrapper{
    display: flex;

}
.ant-space{
    gap: 50px !important;
}
.ant-upload-icon{
    display: none;
}

.sub-header{
    display: grid;
    gap: 0px;
    padding-top: 20px;
}

.link-highlight{
    color: #1976D2 !important;
}

.card-footer-section{
    justify-content: end;
}

.ant-upload-list-item-name,.anticon-delete{
    color: green !important;
}